/* Styling the header and its buttons */
* {
    margin: 0px;
}

header {
    display: flex;
    justify-content: flex-start;
    background-color: black;
}

/* Stablish background image */
body {
    /* background-image: url('backgroundGreen.jpg'); */
    background-image: url('backgroundBlack.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.button {
    font-style: italic;
    margin: 0px 5px;
    padding: 3px 15px;
    text-align: center;
    cursor: pointer;
    color: #5ec25b;
    font-family: 'Koulen', cursive;
    font-size: 25px;
    border-style: solid;
    border-color: black;
    transition: border-color 0.3s;
    border-radius: 5px;
}

.button:hover {
    border-style: solid;
    border-color: #31d31c;
    color: #31d31c;
    border-radius: 5px;
}

/* Styling the main section */
.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #c7c7c7;
}

/* NAME HEADING */

h1 {
    font-family: 'Nunito', sans-serif;
    font-size: 50px;
    font-weight: 400;
    color: #72e250;
    align-self: center;
    margin-top: 50pt;
    margin-bottom: 15pt;
}

#name {
    position: relative;
}

#name:hover {
    color: #31d31c;
}

#name::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background:#31d31c;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 250ms ease-in;
}

#name:hover::after {
    transform: scale(1);
    transform-origin: left;
}

img {
    display: block;
    margin: auto;
    margin-bottom: 50pt;
}

#headerAboutMe h2 {
    color: #72e250;
    margin-top: 0%;
}

#intro {
    align-self: center;
    font-family: Tahoma;
    font-size: 15px;
    font-style: italic;
    width: 40%;
    margin-bottom: 100pt;
}

/* Slider Section */

#headerPortfolio h2 {
    color: #72e250;
}

.wrapper {
    width:calc(60vw + 0.2*4vw);
    height: 35vw;
    position: relative;
    overflow: hidden;
	margin: auto;
	padding: auto;
    margin-bottom: 150pt;

}

#imageSlider {
	position: relative;
	height: 35vw;
	padding: 0;
	max-width: 100%;
}

li {
	max-width: 100%;
    list-style: none;
    float: left;
}

#imageSlider img {
 	max-width: 100%;
 	z-index: 1;
 	animation-name: example;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
}

 .leftButt, .rightButt {

    position: absolute;
    top:40%;

    z-index: 999;
    display: block;
    padding: 3% 2%;
    width: auto;
    height: auto;
    background: #2a2a2a;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    font-size: 15px;
    opacity: 0.8;
    cursor: pointer;
   
}

.rightButt{
	right: 0;
}

button:hover {
 	opacity: 0.5;
 }

 #imageSlider img:hover{
	opacity: 0.9;
	cursor: pointer;
}

@keyframes example {
	from{opacity:0;}
	to {opacity: 1;}
}    

/* Contact Title */

h2 {
    color: #c7c7c7;
    justify-content: center;
    text-align: center;
    line-height: 100pt;
    margin-top: 50pt;
    font-family: 'Nunito', sans-serif;
    font-size: 20pt;
}

/* Contact heading */
#contact {
    width: 500px;
    margin:2em auto;
    background:#505050;
    position: relative;
    border-radius: 5pt;
    }
#contact::after {
    content: "";
    display: block;
    height: 30px;
    width: 90%;
    left: 5%;
    bottom: 0;
    position: absolute;
    -webkit-box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.19);
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.19);
    border-radius: 100%;
    z-index: -1;
    }
#contact article {
      padding: 1em;
    }
#contact h1 {
    background: #707070;
    text-align: center;
    border-radius: 5pt;
    font-family: Oswald ,sans-serif;
    font-size: 1.75em;
    padding: 0.6em 0 0.6em 0.4em;
    color: #72e250;
    text-shadow: 0 0.06em 0 #42832e;
    position: relative;
    }

#checkcontact{
    position: absolute;
    left: -9999px;
    }

#contact_text {
    color: #c7c7c7;
}

#checkcontact:checked + .contactform {
    max-height: 1000px;
    }
    
.input_wrapper {
    position: relative;
    }


.textarea_wrapper textarea {
    margin-top: 20px;
    display: block;
    width: 100%;
    border-radius: 5pt;
    background: #505050;
    border: 1px solid #505050;
    box-shadow: 0 0 1px 0 #505050;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 1em;
    -webkit-transition: all 250ms ease;
    -moz-transition: all 250ms ease;
    -ms-transition: all 250ms ease;
    -o-transition: all 250ms ease;
    transition: all 250ms ease;
    color: #5E5E5E;
    }

.input_wrapper input[type="text"] {
    margin-top: 1em;
    display: block;
    width: 100%;
    border-radius: 5pt;
    background: #616161;
    border: 1px solid #72e250;
    box-shadow: 0 0 1px 0 #E4E4E4;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 1em;
    -webkit-transition: all 250ms ease;
    -moz-transition: all 250ms ease;
    -ms-transition: all 250ms ease;
    -o-transition: all 250ms ease;
    transition: all 250ms ease;
    color: white;
    text-indent: 20%;
    }

.input_wrapper input[type="text"]:focus {
    background: rgba(242, 56, 90, 0.05);
    border-radius: 5pt;
    box-shadow: inset 2px 2px 5px 0 #505050;
    outline: none;
    text-indent: 0;
    }

.input_wrapper label {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    cursor: pointer;
    /* borde del boton redondeado */
    border-radius: 5pt;
    background: #72e250;
    color: #1f1f1f;
    font-weight: 700;
    font-family: Oswald ,sans-serif;
    box-sizing: border-box;
    width: 20%;
    text-align: center;
    line-height: 2.8em;
    -webkit-transition: all 250ms ease;
    -moz-transition: all 250ms ease;
    -ms-transition: all 250ms ease;
    -o-transition: all 250ms ease;
    transition: all 250ms ease;
    }

.input_wrapper input[type="text"]:focus + label {
    left: 80%;
    }

.textarea_wrapper textarea {
    margin-top: 20px;
    display: block;
    width: 100%;
    border-radius: 5pt;
    min-height:150px;
    background: #616161;
    border: 1px solid #72e250;
    box-shadow: 0 0 1px 0 #E4E4E4;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 1em;
    -webkit-transition: all 250ms ease;
    -moz-transition: all 250ms ease;
    -ms-transition: all 250ms ease;
    -o-transition: all 250ms ease;
    transition: all 250ms ease;
    color: white;
    }

.textarea_wrapper textarea:focus {
    background: rgba(242, 56, 90, 0.05);
    box-shadow: inset 2px 2px 5px 0 #505050;
    outline: none;
    }

    /* SUBMIT BUTTON */
.submit_wrapper {
    text-align: center;
    }

.submit_wrapper input {
    text-align: center;
    display: inline-block;
    width: 40%;
    height: 50px;
    margin-top: 1em;
    margin-bottom: 6px;
    cursor: pointer;
    border-radius: 5pt;
    background: #72e250;
    color: #1f1f1f;
    font-family: Oswald ,sans-serif;
    font-size: 1em;
    font-weight: 700;
    border: none;
    -webkit-box-shadow: 1px 1px 0 0 #42832e,2px 2px 0 0 #42832e,3px 3px 0 0 #42832e;
    box-shadow: 1px 1px 0 0 #42832e,2px 2px 0 0 #42832e,3px 3px 0 0 #42832e;
    -webkit-appearance: none;
      -webkit-transition: all 250ms ease;
    -moz-transition: all 250ms ease;
    -ms-transition: all 250ms ease;
    -o-transition: all 250ms ease;
    transition: all 250ms ease;
    cursor: pointer;
    }

.submit_wrapper input:hover {
    -webkit-box-shadow: 1px 1px 0 0 #42832e,0px 0px 0 0 #42832e,0px 0px 0 0 #42832e;
    box-shadow: 1px 1px 0 0 #42832e,0px 0px 0 0 #42832e,0px 0px 0 0 #42832e;
    margin-top: 22px;
    margin-left: 2px;
    margin-bottom: 0px;
    }

/* SOCIAL LINKS */

.social-links {
    display: flex;
    justify-content: center;
    margin-top: 80pt;
}

.social-links a {
    width: 80px;
    height: 80px;
    text-align: center;
    text-decoration: none;
    color: #000;
    box-shadow: 0 0 20px 10px rgba(0,0,0,0.5);
    margin: 0 30px;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
}

.social-links a .fab {
    font-size: 30px;
    line-height: 80px;
    position: relative;
    z-index: 10;
    transition: color 500ms;
}

.social-links a::after {
    content: "";
    width: 100%;
    height: 100%;
    top: -90px;
    left: 0;
    background: linear-gradient(-45deg, #31d31c, #15c4a7);
    position: absolute;
    transition: 500ms;
}

.social-links a:hover::after {
    top: 0;
}

.social-links a:hover .fab {
    color: #fff;
}

.social-links a:hover {
    transform: translateY(-10px);
}

/* Styling the footer */
footer {
    flex: auto;    
    color: #c7c7c7;
    background-color: black;
    margin-top: 25pt;
    padding-top: 5pt;
}

footer p {
    font-size: small;
    font-style: italic;
}

h3 {
    text-align: right;
    font-size: medium;
    margin-right: 5pt;
}

a:link {
    text-decoration: none;
    color: #c7c7c7;
}

a:hover {
    text-decoration: blue;
}

a:visited {
    text-decoration: none;
    color: currentColor;
}

@media screen and (max-width: 768px) {
    .header {
    flex-direction: column;
    }

    textarea {
        width: 40%;
    }

    input[type=text], input[type=email] {
        width: 40%;
    }
    }