/* Styling the header and its buttons */
* {
    margin: 0px;
}

header {
    display: flex;
    justify-content: flex-start;
    background-color: black;
}

/* Stablish background image */
body {
    /* background-image: url('backgroundGreen.jpg'); */
    background-image: url('backgroundBlack.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.button {
    font-style: italic;
    margin: 0px 5px;
    padding: 3px 15px;
    text-align: center;
    color: #5ec25b;
    font-family: 'Koulen', cursive;
    font-size: 25px;
    border-style: solid;
    border-color: black;
    transition: border-color 0.3s;
    border-radius: 5px;
}

.button:hover {
    border-style: solid;
    border-color: #31d31c;
    color: #31d31c;
    border-radius: 5px;
}

/* Styling the main section */
.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #c7c7c7;
}

h1 {
    font-family: 'Nunito', sans-serif;
    font-size: 50px;
    font-weight: 400;
    color: #72e250;
    align-self: center;
    margin-top: 50pt;
    margin-bottom: 15pt;
}

#name {
    position: relative;
}

#name:hover {
    color: #31d31c;
}

#name::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background:#31d31c;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 250ms ease-in;
}

#name:hover::after {
    transform: scale(1);
    transform-origin: left;
}

img {
    display: block;
    margin: auto;
}

#intro {
    align-self: center;
    font-family: Tahoma;
    font-size: 15px;
    font-style: italic;
    width: 40%;
}

h2 {
    color: #c7c7c7;
    justify-content: center;
    text-align: center;
    line-height: 100pt;
    margin-top: 50pt;
    font-family: 'Nunito', sans-serif;
    font-size: 20pt;
}

/* div p {
    color: #c7c7c7;
    text-align: center;
    font-family: Tahoma;
    font-size: 15px;
    line-height: 50pt;
}

input[type=text], input[type=email] {
    display: flex;
    margin: auto;
    background-color: #a7a7a7;
    color: black;
    border-style: none;
    border-color: black;
    border-radius: 5px;
    width: 20%;
}

input[type=text]:focus, input[type=email]:focus {
    border: black;
}

textarea {
    display: flex;
    background-color: #a7a7a7;
    color: black;
    border-style: none;
    border-radius: 5px;
    border-color: black;
    margin: auto;
    width: 20%;
    resize: none;
}

input[type=submit] {
    display: flex;
    background-color: #202020;
    margin: auto;
    margin-bottom: 100px;
    padding: 0px 10px;
    border-style: solid;
    border-color: black;
    border-radius: 5px;
    justify-content: center;
    color: #5ec25b;
    font-family: 'Koulen', cursive;
    font-size: 20px;
    transition: border-color 0.3s;
}

input[type=submit]:hover {
    border-style: solid;
    color: #31d31c;
    border-color: #31d31c;
    border-radius: 5px;
    background-color: black;
}

input::placeholder {
    color: black;
    font-family: Tahoma;
} */

/* Contact heading */
#contact {
    width: 500px;
    margin:2em auto;
    background:#505050;
    position: relative;
    border-radius: 5pt;
    }
    #contact::after {
    content: "";
    display: block;
    height: 30px;
    width: 90%;
    left: 5%;
    bottom: 0;
    position: absolute;
    -webkit-box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.19);
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.19);
    border-radius: 100%;
    z-index: -1;
    }
    #contact article {
      padding: 1em;
    }
    #contact h1 {
    background: #707070;
    font-family: Oswald ,sans-serif;
    font-size: 1.75em;
    padding: 0.6em 0 0.6em 0.4em;
    color: #72e250;
    text-shadow: 0 0.06em 0 #42832e;
    position: relative;
    }

    /* CONTACT BUTTON */

    .contactbutton {
    background: #72e250;
    -webkit-box-shadow: 1px 1px 0 0 #42832e,2px 2px 0 0 #42832e,3px 3px 0 0 #42832e;
    box-shadow: 1px 1px 0 0 #42832e,2px 2px 0 0 #42832e,3px 3px 0 0 #42832e;
    text-align: center;
    display: block;
    width: 100%;
    height: 50px;
    margin-top: 20px;
    margin-bottom: 2px;
    cursor: pointer;
    }
    .contactbutton:hover {
    -webkit-box-shadow: 1px 1px 0 0 #42832e,0px 0px 0 0 #42832e,0px 0px 0 0 #42832e;
    box-shadow: 1px 1px 0 0 #42832e,0px 0px 0 0 #42832e,0px 0px 0 0 #42832e;
    margin-top: 22px;
    margin-left: 2px;
    margin-bottom: 0px;
    }

    /* MAIL SYMBOL */

    .mail {
    margin-top: 11px;
    font-size: 15px;
    display: inline-block;
    border-top: 2em solid transparent;
    border-left: 2.6em solid #424242;
    height: 0;
    width: 0;
    position: relative;
    }
    .mail:before {
    content: '';
    top: -2.5em;
    left: -2.95em;
    display: block;
    position: absolute;
    border-top: 1.2em solid #424242;
    border-left: 1.6em solid transparent;
    border-right: 1.6em solid transparent;
    border-bottom: 1em solid transparent;
    font-size: 0.8em;
    }
    .mail::after {
    display: block;
    content: "";
    position: absolute;
    border-top: 2em solid transparent;
    border-right: 2.6em solid #424242;
    height: 0;
    width: 0;
    left: -2.18em;
    bottom: 0;
    }
    #checkcontact{
    position: absolute;
    left: -9999px;
    }
    .contactform {
    overflow: hidden;
    max-height: 0px;
    -webkit-transition: all linear 1s;
    -moz-transition: all linear 1s;
    -o-transition: all linear 1s;
    -ms-transition: all linear 1s;
    transition: all linear 1s;
    }
    #checkcontact:checked + .contactform {
    max-height: 1000px;
    }
    .input_wrapper {
    position: relative;
    }

/* CAMBIAR LOS COLORES DEL TEXTO */

    .textarea_wrapper textarea {
    margin-top: 20px;
    display: block;
    width: 100%;
    background: #505050;
    border: 1px solid #505050;
    box-shadow: 0 0 1px 0 #505050;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 1em;
    -webkit-transition: all 250ms ease;
    -moz-transition: all 250ms ease;
    -ms-transition: all 250ms ease;
    -o-transition: all 250ms ease;
    transition: all 250ms ease;
    color: #5E5E5E;
    }
    .input_wrapper input[type="text"] {
    margin-top: 1em;
    display: block;
    width: 100%;
    background: white;
    border: 1px solid #DADADA;
    box-shadow: 0 0 1px 0 #E4E4E4;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 1em;
    -webkit-transition: all 250ms ease;
    -moz-transition: all 250ms ease;
    -ms-transition: all 250ms ease;
    -o-transition: all 250ms ease;
    transition: all 250ms ease;
    color: white;
    text-indent: 15%;
    }
    .input_wrapper input[type="text"]:focus {
    background: rgba(242, 56, 90, 0.05);
    box-shadow: inset 2px 2px 5px 0 #505050;
    outline: none;
    text-indent: 0;
    }
    .input_wrapper label {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    background: #72e250;
    color: white;
    font-family: Oswald ,sans-serif;
    box-sizing: border-box;
    width: 15%;
    text-align: center;
    line-height: 2.8em;
    -webkit-transition: all 250ms ease;
    -moz-transition: all 250ms ease;
    -ms-transition: all 250ms ease;
    -o-transition: all 250ms ease;
    transition: all 250ms ease;
    }
    .input_wrapper input[type="text"]:focus + label {
    left: 85%;
    }
    .textarea_wrapper textarea {
    margin-top: 20px;
    display: block;
    width: 100%;
      min-height:150px;
    background: white;
    border: 1px solid #DADADA;
    box-shadow: 0 0 1px 0 #E4E4E4;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 1em;
    -webkit-transition: all 250ms ease;
    -moz-transition: all 250ms ease;
    -ms-transition: all 250ms ease;
    -o-transition: all 250ms ease;
    transition: all 250ms ease;
    color: #5E5E5E;
    }
    .textarea_wrapper textarea:focus {
    background: rgba(242, 56, 90, 0.05);
    box-shadow: inset 2px 2px 5px 0 #505050;
    outline: none;
    }
    .submit_wrapper {
    text-align: center;
    }
    .submit_wrapper input {
    text-align: center;
    display: inline-block;
    width: 40%;
    height: 50px;
    margin-top: 1em;
    margin-bottom: 6px;
    cursor: pointer;
    background: #72e250;
    color: white;
    font-family: Oswald ,sans-serif;
    font-size: 1em;
    border: none;
    -webkit-box-shadow: 1px 1px 0 0 #42832e,2px 2px 0 0 #42832e,3px 3px 0 0 #42832e;
    box-shadow: 1px 1px 0 0 #42832e,2px 2px 0 0 #42832e,3px 3px 0 0 #42832e;
    -webkit-appearance: none;
      -webkit-transition: all 250ms ease;
    -moz-transition: all 250ms ease;
    -ms-transition: all 250ms ease;
    -o-transition: all 250ms ease;
    transition: all 250ms ease;
    }
    .submit_wrapper input:hover {
    -webkit-box-shadow: 1px 1px 0 0 #42832e,0px 0px 0 0 #42832e,0px 0px 0 0 #42832e;
    box-shadow: 1px 1px 0 0 #42832e,0px 0px 0 0 #42832e,0px 0px 0 0 #42832e;
    margin-top: 22px;
    margin-left: 2px;
    margin-bottom: 0px;
    }
    
    @media (max-width: 500px){
    #contact {
    width: 100%;
    }
      .input_wrapper label {
    line-height: 3.5em;
    font-size: 0.8em;
    }
    }

/* SOCIAL LINKS */

.social-links {
    display: flex;
    justify-content: center;
}

.social-links a {
    width: 80px;
    height: 80px;
    text-align: center;
    text-decoration: none;
    color: #000;
    box-shadow: 0 0 20px 10px rgba(0,0,0,0.5);
    margin: 0 30px;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
}

.social-links a .fab {
    font-size: 30px;
    line-height: 80px;
    position: relative;
    z-index: 10;
    transition: color 500ms;
}

.social-links a::after {
    content: "";
    width: 100%;
    height: 100%;
    top: -90px;
    left: 0;
    background: linear-gradient(-45deg, #31d31c, #15c4a7);
    position: absolute;
    transition: 500ms;
}

.social-links a:hover::after {
    top: 0;
}

.social-links a:hover .fab {
    color: #fff;
}

.social-links a:hover {
    transform: translateY(-10px);
}

/* Styling the footer */
footer {
    flex: auto;    
    color: #c7c7c7;
    background-color: black;
    margin-top: 25pt;
    padding-top: 5pt;
}

footer p {
    font-size: small;
    font-style: italic;
}

h3 {
    text-align: right;
    font-size: medium;
    margin-right: 5pt;
}

a:link {
    text-decoration: none;
    color: #c7c7c7;
}

a:hover {
    text-decoration: blue;
}

a:visited {
    text-decoration: none;
    color: currentColor;
}

@media screen and (max-width: 768px) {
    .header {
    flex-direction: column;
    }

    textarea {
        width: 40%;
    }

    input[type=text], input[type=email] {
        width: 40%;
    }
    }